<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>It's So Tiny!</title>
</head>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">It's So Tiny!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/urls">My URLS</a>
        <a class="nav-item nav-link" href="/urls/new">New</a>
      </ul>
    </div>

    <div class="navbar-nav">
      <ul class="navbar-nav ml-auto">

        <% if(username){ %>

          <li class="nav-item">
            <a class="nav-link" href="#"> Logged in as: <b>
                <%= username %>
              </b></a>
          </li>

      </ul>

      <form class="form-inline" action="/logout" method="POST">
        <button type="submit" class="btn btn-outline-dark">Logout</button>
      </form>

      <% } else { %>

        <form class="form-inline" action="/login" method="POST">
          <input type="text" class="form-control mx-sm-2" name="username" placeholder="Username">
          <button type="submit" class="btn btn-outline-dark">Login</button>
        </form>

        <% } %>

    </div>
    </div>
    </div>
  </nav>
</header>