<%- include('partials/_header') %>

  <body>

    <div class="card mx-auto mt-2" style="width: 35rem;">

      <div class="card-header"></div>

      <div class="card-body">

        <h4 class="card-title mb-5">
          <%= longURL %>
        </h4>

        <h5 class="card-subtitle mb-3">
          <a class="text-success" href="/u/<%= shortURL %>">SoTiny URL
        </h5></a>

        <p class="card-text mb-5">Copy this link to share this soTiny URL. If you would
          like to update it, you can do so below.
        </p>

        <form action="/urls/<%= shortURL%>/edit" method="POST">

          <div class="form-row">

            <div class="col-sm-9">
              <input type="text" class="form-control" id="longURL" name="longURL" placeholder="New URL">
            </div>

            <div class="col">
              <button type="submit" class="btn btn-success btn mx-sm-2">Update</button>
            </div>

          </div>

        </form>

      </div>
      <div class="card-footer">
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>

  </html>